<div>Home</div>

<ob-sticky headerSize="md" footerSize="md">
	<ng-template #obStickyHeader>
		<h3>Sticky header</h3>
	</ng-template>
	<ng-template #obStickyMain>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, tincidunt ut
			sollicitudin eget, tempor tempus justo. Duis vulputate nec justo ac bibendum. Nam in tellus ac
			est pellentesque congue. Nam tempus condimentum scelerisque. Sed vel lectus ligula. Integer ut
			urna non massa tincidunt commodo. Proin commodo sem ac purus laoreet viverra. Maecenas in
			ultricies eros. Pellentesque eget enim dapibus, semper urna sit amet, tempor lorem. In nec ante
			neque. Praesent ut arcu vel purus porta tempus et eu risus. Pellentesque pulvinar ac velit vitae
			vehicula.
		</p>
	</ng-template>
	<ng-template #obStickyFooter>
		<h3>Sticky footer</h3>
	</ng-template>
</ob-sticky>
